source/resources/tests/TestSet.dtd

<?xml version="1.0" encoding="Windows-1251"?><!ELEMENT TestConfig (URL, RLCPRequest)><!ELEMENT URL (#PCDATA)><!ELEMENT RLCPRequest (Request)><!ELEMENT Request (Conditions, Instructions)><!ELEMENT Conditions (ConditionForChecking+)><!ATTLIST ConditionForChecking	id CDATA #REQUIRED	Time CDATA #REQUIRED><!ELEMENT ConditionForChecking (Input, Output)><!ELEMENT Input (#PCDATA)><!ELEMENT Output (#PCDATA)><!ELEMENT Instructions (#PCDATA)>